<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">    
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes"> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Mission Control - Investigations</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
  <header class="small">
    <div class="wrapper">
      <h1>Mission Control - Investigations</h1>
      <nav>
        <a href="/companies" class="btn">All Companies</a>
        <a href="/companies/new" class="btn">New Company</a>
        <a href="/investigations" class="btn">Investigations</a>
        <a href="/news_sources" class="btn">All News Sources</a>
      </nav>
    </div>
  </header>
  <section>
    <div class="wrapper">
      <h3>Investigations</h3>
      <p>Below is a list of all of the companies that have submitted their mission statements for investigation. Those that need investigation are marked appropriately.</p>
      <ul class="companies">
      <% companies.each do |company| %>
        <li>
          <a href="/investigations/new?company_id=<%= company.id %>">
            <%= company.name %> 
            <% unless company.mission_statement_proof %>
              <span>needs investigation</span>
            <% end %>
          </a>
      </h3>
      <% end %>
      </ul>
    </div>
  </section>
</body>
</html>