<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">    
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes"> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Mission Control - News Sources</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
  <header class="small">
    <div class="wrapper">
      <h1>News Sources</h1>
      <nav>
        <a href="/" class="btn">Home</a>
        <a href="/companies" class="btn">All Companies</a>
        <a href="/companies/new" class="btn">New Company</a>
        <a href="/investigations" class="btn">Investigations</a>
        <a href="/news_sources" class="btn">All News Sources</a>
      </nav>
    </div>
  </header>
  <section>
    <div class="wrapper">
      <h3>News Sources</h3>
      <p>Below are links to all the News Sources that have been collected for this project.</p>
      <ul class="news_sources">
        <% news_sources.each do |news_source| %>
          <li>
            <a href="/news_sources/<%= news_source.id %>" class=" <%= polarity_class news_source %>">
              <%= news_source.headline %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</body>
</html>